---
const servicios = [
  { titulo: "Transporte de Carga y Mercancía.", descripcion: "Soluciones confiables y eficientes para el transporte de carga y mercancías.", icono: "/images/logistica.png" },
  { titulo: "Servicio de Mudanza a Nivel Nacional.", descripcion: "Soluciones personalizadas para mudanzas seguras, rápidas y confiables.", icono: "/images/entrega.png" },
  { titulo: "Transporte de Carga Pesada y Liviana.", descripcion: "Gestión especializada en el transporte de carga pesada y liviana con eficiencia y seguridad.", icono: "/images/maquina-elevadora.png" },
  { titulo: "Servicio de Embalaje para Traslados.", descripcion: "Protección eficiente y profesional para garantizar el traslado seguro de sus bienes.", icono: "/images/caja.png" },
  { titulo: "Servicio de Repartos.", descripcion: "Distribución ágil y confiable para entregas locales y nacionales.", icono: "/images/repartidor.png" },
  { titulo: "Servicio de Courier, Retail.", descripcion: "Transporte express para necesidades minoristas y logísticas específicas.", icono: "/images/camion.png" },
  { titulo: "Logística.", descripcion: "Gestión integral para optimizar la cadena de suministro y distribución.", icono: "/images/logistic.png" },
  { titulo: "Servicio de Estibaje.", descripcion: "Carga y descarga eficiente para operaciones logísticas ágiles.", icono: "/images/estibaje.png" },
  { titulo: "Servicio de Almacenaje.", descripcion: "Espacios seguros y adaptables para almacenar sus productos.", icono: "/images/centro-de-distribucion.png" },
  { titulo: "Todo Tipo de Mudanza.", descripcion: "Mudanzas profesionales adaptadas a todas sus necesidades.", icono: "/images/exportar.png" },
  { titulo: "Carga Paletizada.", descripcion: "Transporte especializado para carga paletizada de manera eficiente.", icono: "/images/pallet.png" },
  { titulo: "Carga Apilable.", descripcion: "Soluciones prácticas para el manejo de cargas apilables con seguridad.", icono: "/images/apilable.png" },
];
---
<section id="servicios" class="py-16 bg-gradient-to-b from-gray-50 to-gray-200">
    <div class="container mx-auto px-6">
        <div class="text-center mb-12">
            <h3 class="text-4xl font-extrabold text-gray-800">
                Nuestros Servicios
            </h3>
            <p class="text-lg text-gray-600 mt-2">
                Descubre las soluciones que ofrecemos para satisfacer todas tus necesidades logísticas y de transporte.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            {servicios.map(servicio => (
                <div class="group relative rounded-lg shadow-md overflow-hidden bg-white transform hover:scale-105 transition-transform duration-300">
                    <div class="flex items-center justify-center h-20 w-20 bg-gray-100 text-white rounded-full mx-auto mt-6">
                        <img src={servicio.icono} alt={servicio.titulo} class="h-12 w-12 object-contain" />
                    </div>

                    <div class="px-6 py-8 text-center">
                        <h4 class="text-xl font-bold text-gray-800 group-hover:text-primary transition">
                            {servicio.titulo}
                        </h4>
                        <p class="text-gray-600 mt-4">
                            {servicio.descripcion}
                        </p>
                        <a href="tel:+51967276494" class="inline-flex items-center gap-2 mt-3 border-2 border-primary text-black px-4 py-2 rounded-full text-sm font-semibold hover:bg-black hover:text-white hover:border-none transition">
                            Llámanos
                            <i class="fas fa-phone"></i>
                        </a>
                        <a href={`https://wa.me/51967276494?text=¡Hola!%20*OREMARC*%20Estoy%20interesado%20en%20el%20servicio%20de%20${encodeURIComponent(servicio.titulo)}`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-2 mt-6 bg-primary text-white px-4 py-2 rounded-full text-sm font-bold hover:bg-black transition">
                            Escríbenos
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>